/** CSS for a program order chart view component. */

@import 'frontend/app/styles/common';

:host {
  display: block;
  margin: 20px;
}

.chart-container {
  position: relative;
  width: 1200px;
  height: 380px;
}

.chart-title-container {
  display: flex;
  align-items: center;
}

.timeline-link {
  padding: 10px;
  cursor: pointer;
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 380px;
}
