<div [className]="heapSizes.length ? 'auto-height' : 'hidden-content'">
  <div class="chart-title-container">
    <h2>Memory Allocation Size (MiB) vs Program Order (HLO Sequence)</h2>
    <div class="timeline-link"><a [href]="timelineUrl" [hidden]="!timelineUrl.length" target="_blank">timeline</a></div>
  </div>
  <div class="chart-container">
    <chart class="chart" #peakChart [chartType]="AREA_CHART" [dataInfo]="peakChartDataInfo"></chart>
    <chart class="chart" #activeChart [chartType]="AREA_CHART" [dataInfo]="activeChartDataInfo"></chart>
    <chart class="chart" #heapChart [chartType]="LINE_CHART" [dataInfo]="heapChartDataInfo"></chart>
  </div>
</div>
