# bazel configurations for tensorboard plugin build.
build:linux --repo_env=CC="/usr/bin/clang"
build --repo_env=TF_PYTHON_VERSION=3.10
build --experimental_repo_remote_exec
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --copt=-Wno-gnu-offsetof-extensions
build --copt=-Wno-error=array-parameter
build --copt=-Wno-error=unused-command-line-argument
build --copt=-w

build:macos --apple_platform_type=macos
build:macos --copt=-DGRPC_BAZEL_BUILD
build:macos --config=no_tfrt
build:release_macos_arm64 --config=release_macos_base
build:release_macos_arm64 --cpu=darwin_arm64
build:release_macos_arm64 --macos_minimum_os=12.0
build:release_macos_arm64 --action_env MACOSX_DEPLOYMENT_TARGET=12.0
