absl-py >= 2.1.0
gviz_api >= 1.10.0
setuptools >= 70.1.1
fsspec[gcs] >= 2024.10.0
cheroot >= 10.0.1
etils[epath] >= 1.0.0
werkzeug >= 0.11.15
protobuf >= 3.19.6
six >= 1.10.0
google-cloud-storage >= 3.12.0
urllib3 >= 2.7.0
fire >= 0.4.0
