<overview-page-base
  [diagnostics]="diagnostics"
  [generalAnalysis]="generalAnalysis"
  [inputPipelineAnalysis]="inputPipelineAnalysis"
  [recommendationResult]="recommendationResult"
  [runEnvironment]="runEnvironment"
  [inferenceLatencyData]="inferenceLatencyData"
  >
  <recommendation-result-view
    recommendationResultView
    [isOss]="true"
    [statementInfo]="recommendationStatementInfo"
    [recommendationResult]="recommendationResult">
  </recommendation-result-view>
</overview-page-base>
