<!--
  The Overview Page is a view within the tf-profile-dashboard.
  It is the first page that users would look at in order to understand
  the overall performance of their TPU workloads. The page is divided into the left and right section:
  Left section:
    (1) Performance summary
    (2) Run environment
  Right section:
    (1) Step-time graph for training / inference
-->

<div>
  <div class="temp-ui-diff-banner">
    [TESTING UI DIFF ENGINE] Temporary Visual Modification for Presubmit Verification
  </div>
  <diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>
  <div class="container">
    <div class="left-column">
      <performance-summary
        [isInference]="isInference"
        [generalAnalysis]="generalAnalysis"
        [inputPipelineAnalysis]="inputPipelineAnalysis"
        [inferenceLatencyData]="inferenceLatencyData"
        [sessionId]="sessionId"
        [disaggregatedServingLatencyData]="disaggregatedServingLatencyData"
        [baselineGeneralAnalysis]="baselineGeneralAnalysis"
        [baselineInputPipelineAnalysis]="baselineInputPipelineAnalysis"
        [baselineInferenceLatencyData]="baselineInferenceLatencyData"
        [baselineDisaggregatedServingLatencyData]="baselineDisaggregatedServingLatencyData"
        [class]="darkTheme ? 'dark-theme' : ''">
      </performance-summary>
      <ng-content select="[normalizedAcceleratorPerformanceView]"></ng-content>
      <run-environment-view [runEnvironment]="runEnvironment" [class]="darkTheme ? 'dark-theme' : ''">
        <ng-content taskCount select="[taskCount]"></ng-content>
        <ng-content jobInformation select="[jobInformation]"></ng-content>
      </run-environment-view>
    </div>

    <div class="right-column">
      <ng-content select="[stepTimeGraphView]"></ng-content>
      <step-time-graph
        stepTimeGraphView
        *ngIf="hasStepTimeGraphData"
        id="step-time-graph"
        [inputPipelineAnalysis]="inputPipelineAnalysis"
        [class]="darkTheme ? 'dark-theme' : ''"
        (ready)="onChartReady()">
      </step-time-graph>
      <inference-latency-chart
        *ngIf="hasInferenceLatencyData"
        [inferenceLatencyData]="inferenceLatencyData"
        [class]="darkTheme ? 'dark-theme' : ''"
        (ready)="onChartReady()">
      </inference-latency-chart>
      <smart-suggestion-view
        *ngIf="enableSmartSuggestion"
        [sessionId]="sessionId"
        [darkTheme]="darkTheme">
      </smart-suggestion-view>
      <ng-content select="[sblView]"></ng-content>
      <ng-content select="[tfDataView]"></ng-content>
      <ng-content select="[topology]"></ng-content>
    </div>
  </div>
</div>
