 <mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>

    <div class="item-container">
      <table>
        <tr>
          <td>
            <b>Average Step Time</b>
            <div class="description">lower is better</div>
            <div class="description">(σ = {{steptimeMsStddev}} ms)</div>
          </td>
          <td class="item-value">
            <div>{{steptimeMsAverage}} ms</div>
          </td>
        </tr>
      </table>
    </div>
    <div [hidden]="!isTpu">
      <ul>
        <li class="primary-content" *ngFor="let value of propertyValues">{{value}}</li>
      </ul>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <b>Host Idle Time</b>
              <div class="description">lower is better</div>
            </td>
            <td class="item-value">
              <div>{{hostIdleTimePercent}}</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <b>TPU Idle Time</b>
              <div class="description">lower is better</div>
            </td>
            <td class="item-value">
              <div>{{deviceIdleTimePercent}}</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <b>FLOPS Utilization</b>
              <div class="description">
                (higher is better,
                <span
                  class="flops-utilization-tooltip-target"
                  [matTooltip]="flopsUtilizationTooltipMessage"
                  matTooltipPosition="above">
                  why two numbers?
                </span>
                )
              </div>
            </td>
          </tr>
        </table>
      </div>
      <ul>
        <li class="primary-content">Utilization of TPU Matrix Units: {{mxuUtilizationPercent}}</li>
        <li class="primary-content">
          Compared to Program's Optimal FLOPS: {{flopRateUtilizationRelativeToRoofline}}
          <ng-content></ng-content>
        </li>
      </ul>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <b>Memory Bandwidth Utilization</b>
              <div class="description">higher is better</div>
            </td>
            <td class="item-value">
              <div>{{memoryBwUtilizationRelativeToHwLimit}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div [hidden]="isTpu">

      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>All Others Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{otherTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{otherTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Compilation Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{compileTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{compileTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Output Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{outfeedTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{outfeedTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Input Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{infeedTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{infeedTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Kernel Launch Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{kernelLaunchTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{kernelLaunchTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Host Compute Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{hostComputeTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{hostComputeTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Device to Device Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{deviceToDeviceTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{deviceToDeviceTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <ul>
                <li><b>Device Compute Time</b></li>
              </ul>
              <div class="item-description description">(σ = {{deviceComputeTimeMsSdv}} ms)</div>
            </td>
            <td class="item-value">
              <div>{{deviceComputeTimeMsAvg}} ms</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="item-container">
        <table>
          <tr>
            <td>
              <b>Device Compute Precisions</b>
              <div class="description">(out of Total Device Time)</div>
            </td>
          </tr>
        </table>
      </div>
      <ul>
        <li class="primary-content">16-bit: {{deviceCompute16bitPercent}}</li>
        <li class="primary-content">32-bit: {{deviceCompute32bitPercent}}</li>
      </ul>
    </div>
    <div class="item-container">
      <b [style.color]="remarkColor">{{remarkText}}</b>
    </div>
    <p><!-- empty paragraph for bottom margin --></p>
  </mat-card-content>
</mat-card>
