<div class="section-container">
  <div class="row">
    <div>
      <div class="mat-headline">GPU Kernel Stats</div>
    </div>
    <div class="flex-space"></div>
    <export-as-csv tool="kernel_stats"></export-as-csv>
  </div>
</div>

<div [className]="hasDataRow ? 'auto-height' : 'hidden-content'">
  <mat-divider></mat-divider>

  <kernel-stats-table [kernelStatsData]="data"></kernel-stats-table>
</div>

<div class="section-container" [hidden]="hasDataRow">
  There is no GPU data to display because there were no kernels in the capture duration.
</div>
