/** Common CSS for an op profile component. */

@import 'frontend/app/styles/common';

.container {
  padding: 20px;
}

.description {
  margin-top: -16px;
}

.control-container {
  display: flex;
  padding-top: 32px;
}

.control {
  margin-right: 32px;
}

.ops-control {
  margin-right: 32px;
  text-align: center;
}

.control-title {
  color: $content-secondary-color;
  margin-bottom: 16px;
}

.ops-control-title {
  color: $content-secondary-color;
  margin: -20px 0 -24px;
}

.children-count-input {
  width: 50px;
}
