<div class="container">
  <div class="mat-headline">
    <div>
      Overall {{deviceType}} FLOPS utilization is
      <span [style.color]="data.flopsColor">{{data.flopsUtilizationPercent}}</span>
    </div>
    <div>
      HBM bandwidth utilization is
      <span [style.color]="data.bwColors[data.memBwType.MEM_BW_TYPE_HBM_RW]">{{data.bandwidthUtilizationPercents[data.memBwType.MEM_BW_TYPE_HBM_RW]}}</span>
    </div>
  </div>
  <div class="description">
    <div>
      Modifying your model's architecture, data dimensions, and improving
      the efficiency of CPU operations may help reach the {{deviceType}}'s FLOPS
      potential.
    </div>
    <div>
      "Idle" represents the portion of the total execution time on device
      that is idle.
    </div>
  </div>
  <div class="control-container">
    <div class="control" [hidden]="!hasMultiModules">
      <div class="control-title">Group by Op Category</div>
      <mat-slide-toggle [checked]="isByCategory" (toggleChange)="updateToggle()" matTooltip="Group by xla module by default."></mat-slide-toggle>
    </div>
    <div class="control">
      <div class="control-title">
        Order by Wasted Time
        <mat-icon
          class="tooltip-icon"
          matTooltip="Wasted time is defined by RuntimeFraction *(1 - max(FlopsUtilization, MemoryBandwidthUtilization))."
          matTooltipPosition="above">
          info
        </mat-icon>
      </div>
      <mat-slide-toggle [checked]="byWasted" (toggleChange)="updateByWasted()" matTooltip="Order by Time% by default."></mat-slide-toggle>
    </div>
    <div class="control">
      <div class="control-title">Top 90%
        <mat-icon
          class="tooltip-icon"
          matTooltip="Truncate Ops at 90 percentile of the aggregate root raw time."
          matTooltipPosition="above">
          info
        </mat-icon>
      </div>
      <mat-slide-toggle [checked]="showP90" (toggleChange)="updateShowP90()"></mat-slide-toggle>
    </div>
    <div class="control">
      <div class="control-title">Exclude Idle</div>
      <mat-slide-toggle [checked]="excludeIdle" (toggleChange)="updateExcludeIdle()"></mat-slide-toggle>
    </div>
    <div class="control">
      <mat-form-field class="children-count-input" appearance="outline">
        <mat-label>Ops Limit</mat-label>
        <input
              matInput
              type="number"
              [min]="10"
              [max]="100"
              [step]="10"
              [value]="childrenCount"
              matTooltip="Number of ops to show per layer. 10 ~ 100 with increment of 10."
              (change)="updateChildrenCount($event.target.value)" />
      </mat-form-field>
    </div>
  </div>
</div>

<op-table
  [rootNode]="rootNode"
  [byWasted]="byWasted"
  [showP90]="showP90"
  [childrenCount]="childrenCount">
</op-table>
