<div [hidden]="!node">
  <mat-card>
    <mat-card-content>
      <div class="info-header">
        <div class="info-header-circle" [style.background]="color"></div>
        <div class="info-header-content-container">
          <div class="info-header-content">
            <div class="info-header-title">{{name}}</div>
            <div class="info-header-subheader">{{subheader}}</div>
          </div>
        </div>
      </div>
      <div class="info-content">
        <div class="info" id="graph-viewer-link" [hidden]="!hasValidGraphViewerLink()">
          <a [href]="getGraphViewerLink()" target="_blank" style="text-decoration:none;">
            <button
              mat-stroked-button
              extended
              type="button"
              color="primary"
              appearance="fill"
              aria-label="go to graph viewer"
              i18n-aria-label="A button to corresponding graph viewer page">
             > Graph Viewer
            </button>
          </a>
        </div>
        <div class="info" [hidden]="!flopsUtilization">
          <div class="title">FLOPS utilization:</div>
          <div class="bar-container">
            <div
              class="bar"
              [style.width]="flopsUtilization"
              [style.background-color]="flopsColor">
              &nbsp;{{flopsUtilization}}
            </div>
          </div>
        </div>
        <div class="info" [hidden]="!bandwidthUtilizations[memBwType.MEM_BW_TYPE_HBM_RW]">
          <div class="title">HBM bandwidth utilization:</div>
          <div class="bar-container">
            <div
              class="bar"
              [style.width]="bandwidthUtilizations[memBwType.MEM_BW_TYPE_HBM_RW]"
              [style.background-color]="bwColors[memBwType.MEM_BW_TYPE_HBM_RW]">
              &nbsp;{{bandwidthUtilizations[memBwType.MEM_BW_TYPE_HBM_RW]}}
            </div>
          </div>
        </div>
        <div class="info" [hidden]="!bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_RD]">
          <div class="title">On-Chip Read bandwidth utilization:</div>
          <div class="bar-container">
            <div
              class="bar"
              [style.width]="bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_RD]"
              [style.background-color]="bwColors[memBwType.MEM_BW_TYPE_SRAM_RD]">
              &nbsp;{{bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_RD]}}
            </div>
          </div>
        </div>
        <div class="info" [hidden]="!bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_WR]">
          <div class="title">On-Chip Write bandwidth utilization:</div>
          <div class="bar-container">
            <div
              class="bar"
              [style.width]="bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_WR]"
              [style.background-color]="bwColors[memBwType.MEM_BW_TYPE_SRAM_WR]">
              &nbsp;{{bandwidthUtilizations[memBwType.MEM_BW_TYPE_SRAM_WR]}}
            </div>
          </div>
        </div>
        <div class="info" [hidden]="!flopsRate">
          <div class="title">FLOP rate (per core):</div>
          <code class="expression">{{flopsRate}}</code>
        </div>
        <div class="info" [hidden]="!bandwidths[memBwType.MEM_BW_TYPE_HBM_RW]">
          <div class="title">HBM bandwidth (per core):</div>
          <code class="expression">{{bandwidths[memBwType.MEM_BW_TYPE_HBM_RW]}}</code>
        </div>
        <div class="info" [hidden]="!bandwidths[memBwType.MEM_BW_TYPE_SRAM_RD]">
          <div class="title">On-chip Read bandwidth (per core):</div>
          <code class="expression">{{bandwidths[memBwType.MEM_BW_TYPE_SRAM_RD]}}</code>
        </div>
        <div class="info" [hidden]="!bandwidths[memBwType.MEM_BW_TYPE_SRAM_WR]">
          <div class="title">On-chip Write bandwidth (per core):</div>
          <code class="expression">{{bandwidths[memBwType.MEM_BW_TYPE_SRAM_WR]}}</code>
        </div>
        <div class="info" [hidden]="!expression">
          <div class="title">XLA expression:</div>
          <code class="expression">{{expression}}</code>
        </div>
        <div class="info" [hidden]="!provenance">
          <div class="title">Long Op Name:</div>
          <code class="expression">{{provenance}}</code>
        </div>
        <div class="info" [hidden]="!rawTimeMs">
          <div class="title">Total Time Sum:</div>
          <code class="expression">{{rawTimeMs}}</code>
        </div>
        <div class="info" [hidden]="!avgTimeMs">
          <div class="title">Total Time Avg:</div>
          <code class="expression">{{avgTimeMs}}</code>
        </div>
        <div class="info" [hidden]="!fused">
          <div class="unavailable">
            Performance information for individual fused operations is not available.
          </div>
        </div>
        <div class="info" [hidden]="!hasCategory">
          <div class="unavailable">
            Select items within this category for performace details.
          </div>
        </div>
        <div class="info" [hidden]="!hasLayout">
          <div class="title">Layout:</div>
          <div class="layout" *ngFor="let dimension of dimensions; let i = index">
            <div>
              <div class="size-x">
                <div [hidden]="!i">x</div>
              </div>
            </div>
            <div>
              <span class="size">{{dimension.size}}</span>
              <span class="semantics">{{dimension.semantics}}</span>
              <span
                    class="alignment"
                    [style.background-color]="dimensionColor(dimension)">
                {{dimensionHint(dimension)}}
              </span>
            </div>
          </div>
        </div>
        <div class="info" [hidden]="!computationPrimitiveSize">
          <div class="title"> Hardware Computation Size:</div>
          <code class="expression">{{computationPrimitiveSize}}</code>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
