/** CSS for a graph config form component. */

@import 'frontend/app/styles/common';

.mat-subheading-2 {
  margin-bottom: 0;
}

mat-checkbox {
  padding: 5 0;
}

.row {
  display: flex;
}

.actions {
  padding: 20px 0;
}

.search-button {
  // Override the MDC button style (not using palette contrast color somehow)
  // Seems fixed in higher angular versions
  // TODO(yinzz) remove this override once it's fixed
  color: white;
}
