<div [className]="hasHostOps ? 'auto-height' : 'hidden-content'">
  <div class="section-container">
    <div class="mat-headline">Host-side analysis details</div>
    <div class="content-container">
      <div class="mat-title">Breakdown of input processing time on the host</div>
      <chart class="column-chart"
        chartType="ColumnChart"
        [dataInfo]="dataInfoForColumnChart" />
      <div class="mat-title">Recommendations to reduce the host input time (<b>if using tf.data</b>):</div>
      <div class="recommendations">
        @for (recommendation of recommendations(); track recommendation) {
          <div [innerHtml]="recommendation"></div>
        }
      </div>
    </div>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Input Op statistics</mat-panel-title>
    </mat-expansion-panel-header>
    <chart chartType="Table" [dataInfo]="dataInfoForTable" />
  </mat-expansion-panel>
  <br/>
</div>

@if (!hasHostOps) {
  <div class="section-container">
    <div class="mat-headline">Host-side analysis details</div>
    <p>Host side analysis can not be done without instrumentation.</p>
  </div>
}
