<div>
  <div class="container" id="data-controls">
    <div class="item-container" id="host-id-selector">
      <table>
        <tr>
          <td>
            <b>Host ID</b>
            <div class="description">show memory profile for selected host</div>
          </td>
          <td class="item-value">
            <mat-form-field appearance="outline">
              <mat-select [(value)]="selectedHostId" (selectionChange)="update()">
                @for (id of hostIds; track id) {
                  <mat-option [value]="id">
                    {{ id }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <div class="item-container" id="memory-id-selector">
      <table>
        <tr>
          <td>
            <b>Memory ID</b>
            <div class="description">show memory profile for selected device</div>
          </td>
          <td class="item-value">
            <mat-form-field appearance="outline">
              <mat-select [(value)]="selectedMemoryId">
                @for (id of memoryIds; track id) {
                  <mat-option [value]="id">
                    {{ id }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
  @if (loading) {
    <div class="progress-container">
      <div class="loading-message">Loading memory profile data...</div>
      <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
      <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading" />
    </div>
  }
  @if (!hasMemoryData && !loading) {
    <div class="error-message">
      <span>There is no memory profile to display because there were no memory activity data in the captured
        duration for host_id = {{ selectedHostId }}.</span><span>To view memory profile, please profile your workload with host_trace_level >= 2.</span>
      </div>
    }
    @if (hasMemoryData && !loading) {
      <div>
        <div class="container">
          <div class="left-column">
            <memory-profile-summary [data]="data" [memoryId]="selectedMemoryId" />
          </div>
          <div class="right-column">
            <div class="error-message" [hidden]="!hasIncompleteSteps">
              WARNING: Steps may be incomplete. For accurate result, please try profiling for longer.
            </div>
            <memory-timeline-graph
              [memoryProfileProto]="data"
              [memoryId]="selectedMemoryId" />
          </div>
          <div class="full-column">
            <memory-breakdown-table
              [memoryProfileData]="data"
              [memoryId]="selectedMemoryId" />
          </div>
        </div>
      </div>
    }
  </div>
