<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <memory-viewer-control
      [moduleList]="moduleList"
      [firstLoadSelectedModule]="selectedModule"
      [firstLoadSelectedMemorySpaceColor]="firstLoadMemorySpaceColor"
      (changed)="update($event)" />
    <buffer-details [selectedModule]="selectedModule" [sessionId]="sessionId" />
  </mat-sidenav>
  <mat-sidenav-content>
    @if (loading) {
      <div class="progress-container">
        <div class="loading-message">Loading module...</div>
        <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
        <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading" />
      </div>
    }
    @if (!loading) {
      <memory-viewer-main
        [memoryViewerPreprocessResult]="memoryViewerPreprocessResult"
        [memorySpaceColor]="selectedMemorySpaceColor"
        [currentRun]="sessionId"
        [currentHost]="host"
        [currentModule]="selectedModule" />
    }
  </mat-sidenav-content>
</mat-sidenav-container>
