<div class="source-mapper">
  <div class="stack-trace-snippet-container">
    <mat-form-field class="source-file-select" (click)="$event.stopPropagation()" appearance="outline">
      <mat-label>Source File</mat-label>
      <mat-select [(ngModel)]="selectedSourceFileName">
        @for (fileName of sourceFileNames; track fileName) {
          <mat-option [value]="fileName">
            {{fileName}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <stack-trace-snippet
      [srcPathPrefix]="srcPathPrefix"
      [sourceFileAndLineNumber]="adaptedSourceFileAndLineNumber"
      [stackTrace]="adaptedStackTrace"
      [sourceContextWindow]="sourceContextWindow()"
      />
  </div>

  <div class="ir-text-container">
    <mat-form-field class="ir-type-select" (click)="$event.stopPropagation()" appearance="outline">
      <mat-label>Compiler Pass</mat-label>
      <mat-select [ngModel]="selectedCompilerPass" (ngModelChange)="onCompilerPassChange($event)">
        @for (pass of compilerPasses; track pass) {
          <mat-option [value]="pass">
            {{pass}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (programId() && programId() !== '0') {
      <mat-expansion-panel class="ir-text-panel" [expanded]="true">
        <mat-expansion-panel-header class="ir-text-header">
          <mat-panel-title>
            <div class="ir-text-header-title">
              Program ID:{{programId()}}
            </div>
            @if (!loaded) {
              <mat-progress-bar mode="indeterminate" class="ir-text-progress-bar" />
            }
            @if (irTextLink) {
              <a
                [href]="irTextLink"
                target="_blank"
                class="external-link-icon"
                (click)="$event.stopPropagation()"
                [matTooltip]="irTextLinkTooltip">
                <mat-icon>open_in_new</mat-icon>
              </a>
            }
          </mat-panel-title>
        </mat-expansion-panel-header>

        @if (loaded) {
          <div class="ir-text-content">
            <div class="legacy-table-wrapper">
              <table>
                <thead>
                  <tr>
                    <th><pre class="line-number"></pre></th>
                    <th><pre class="line-content"></pre></th>
                  </tr>
                </thead>
                <tbody>
                  @if (irText && irText.length > 0) {
                    @for (line of irTextLinesForDisplay; track trackByIndex($index, line)) {
                      <tr [class.line-selected]="isFocusLine(line)">
                        <td><pre class="line-number"><code>{{ 1 + $index }}</code></pre></td>
                        <td><pre class="line-content"><code [innerHTML]="line"></code></pre></td>
                      </tr>
                    }
                  } @else {
                    <tr>
                      <td colspan="2">There are no lines to display.</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        } @else {
          <div>Loading...</div>
        }
      </mat-expansion-panel>
    } @else {
      <message
        title="IR Text Not Found"
        content="Please select an HLO operation with program ID info." />
    }
  </div>
</div>
