/** CSS for a capture profile dialog component. */

@import 'frontend/app/styles/common';

mat-expansion-panel {
  width: 400px;
}

.mat-expansion-panel-header {
  padding: 0 5px 0 0;
}

mat-form-field {
  width: 400px;
}

mat-radio-button {
  margin-left: 20px;
}

mat-dialog-actions {
  justify-content: flex-end;
}

.mat-mdc-raised-button {
  @include box-shadow-none;
  @include border-black;
}
