<diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>

<div class="section-container">
  <div class="row">
    <div>
      <div class="mat-headline">Module name: {{moduleName}}</div>
      <div class="sub-title">Peak memory allocation is {{peakHeapSizeMiB}} MiB</div>
      <div class="description" [hidden]="!unpaddedPeakHeapSizeMiB">
        ({{unpaddedPeakHeapSizeMiB}} MiB without padding)
      </div>
      <div class="description">
        Modifying your model's architecture, batch size and data dimensions may
        help reduce the memory footprint.
      </div>
    </div>
    <div class="control">
      <mat-checkbox [(ngModel)]="includeNotSimulated" (ngModelChange)="update()">
        Include not simulated
        <mat-icon
          class="tooltip-icon"
          matTooltip="Include all logical buffers that haven't appeared in HeapSimulatorTraces.
                      We simply sum up all those buffer allocations, and report the additional
                      unpadded heap sizes as the sum of those unsimulated buffer allocations *
                      (total unpadded logical buffer sizes / total padded logical buffer sizes)."
          matTooltipPosition="above">
            info
        </mat-icon>
      </mat-checkbox>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<program-order-chart
  [heapSizes]="heapSizes"
  [unpaddedHeapSizes]="unpaddedHeapSizes"
  [peakInfo]="peakInfo"
  [activeInfo]="activeInfo">
</program-order-chart>

<div [hidden]="!heapSizes.length">
  <mat-divider ></mat-divider>
</div>

<max-heap-chart
   [maxHeap]="maxHeap"
   [title]="'By Program Order'"
   [selectedIndex]="selectedIndex"
   (selected)="setSelectedHeapObject($event)">
</max-heap-chart>

<div [hidden]="!maxHeap.length">
  <mat-divider ></mat-divider>
</div>

<max-heap-chart
  [maxHeap]="maxHeapBySize"
  [title]="'By Size'"
  [selectedIndex]="selectedIndexBySize"
  (selected)="setSelectedHeapObjectBySize($event)">
</max-heap-chart>

<div class="section-container" [hidden]="hasTrace">
  There is no data to display.
</div>
