<diagnostics-view [diagnostics]="diagnostics"></diagnostics-view>

<div class="section-container">
  <div class="row">
    <div>
      <div class="mat-headline">Module Name: {{moduleName}}</div>
      <div class="sub-title">Peak memory allocation: {{peakHeapSizeMiB}} MiB</div>
      <div class="description" [hidden]="!paddingOverhead">
        {{paddingOverhead}} MiB total padding overhead
      </div>
      <div class="description" [hidden]="!totalArgumentSizeBytes">
        {{totalArgumentSizeBytes}} MiB total argument size
      </div>
      <div class="description" [hidden]="!hloTempSizeBytes">
        {{hloTempSizeBytes}} MiB HLO temporary variables
        (fragmentation  {{hloTempFragmentation}}%)
      </div>
      <div class="description">
        Modifying your model's architecture, batch size and data dimensions may
        help reduce the memory footprint.
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<program-order-chart
  [heapSizes]="heapSizes"
  [unpaddedHeapSizes]="unpaddedHeapSizes"
  [peakInfo]="peakInfo"
  [activeInfo]="activeInfo"
  [timelineUrl]="timelineUrl">
</program-order-chart>

<div [hidden]="!heapSizes.length">
  <mat-divider ></mat-divider>
  <div class="heap-chart-header"><h2>HLO Ops at Peak Memory Allocation Time</h2></div>
</div>

<max-heap-chart
   [maxHeap]="maxHeap"
   [title]="'by Program Order'"
   [selectedIndex]="selectedIndex"
   (selected)="setSelectedHeapObject($event)">
</max-heap-chart>

<max-heap-chart
  [maxHeap]="maxHeapBySize"
  [title]="'by Buffer Size'"
  [selectedIndex]="selectedIndexBySize"
  (selected)="setSelectedHeapObjectBySize($event)">
</max-heap-chart>

<max-heap-chart
  [maxHeap]="maxHeapByPaddingSize"
  [title]="'by Padding Size'"
  [selectedIndex] = "selectedIndexByPaddingSize"
  (selected)="setSelectedHeapObjectByPaddingSize($event)">
</max-heap-chart>

<div class="section-container" [hidden]="hasTrace">
  There is no data to display.
</div>
