/** CSS for a memory viewer main component. */

@import 'frontend/app/styles/common';

:host {
  display: block;
}

.section-container {
  padding: 20px;
}

.sub-title {
  font-weight: 500;
}

.control-title {
  color: $content-secondary-color;
  margin-bottom: 5px;
}

.row {
  display: flex;
}

.flex-space {
  flex: 1;
}

.control {
  padding: 20;
}

.heap-chart-header {
  margin: 20px;
}
