<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="item-container">
      <div class="form-container">
        <form (ngSubmit)="onSearchGraph()">
          @if (graphTypes.length > 0) {
            <mat-form-field class="full-width" id="graph-type-selector" appearance="outline">
              <mat-label>Graph Type</mat-label>
              <mat-select
                name="graphType"
                panelClass="panel-override"
                [(ngModel)]="graphType"
                (selectionChange)="onGraphTypeSelectionChange($event.value)"
                >
                @for (type of graphTypes; track type) {
                  <mat-option [value]="type.value">
                    {{ type.label }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
          <app-searchable-dropdown
            id="xla-module-list-selector"
            class="full-width"
            [itemList]="moduleListOptions"
            [selectedItem]="selectedModule"
            (selectionChange)="onModuleSelectionChange($event)"
            [label]="'XLA Modules (' + (loadingModuleList ? 'loading...' : moduleList.length) + ')'" />
          <mat-form-field class="full-width">
            <mat-label>XLA Op Name</mat-label>
            <input
              matInput
              matTooltip="XLA Op name for the center node."
              aria-label="op-name"
              required
              autocomplete="off"
              [(ngModel)]="opName"
              name="opName"
              />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Graph Width</mat-label>
            <input
              matInput
              matTooltip="Graph width from the center node. Suggest < 10."
              aria-label="graph-width"
              type="number"
              min="1"
              step="1"
              [(ngModel)]="graphWidth"
              name="graphWidth"
              />
          </mat-form-field>

          @if (!shouldRenderMeGraph) {
            <mat-checkbox
              [(ngModel)]="showMetadata"
              name="showMetadata"
              class="full-width"
              >Show Metadata</mat-checkbox
              >
            }
            @if (!shouldRenderMeGraph) {
              <mat-checkbox
                [(ngModel)]="mergeFusion"
                name="mergeFusion"
                matTooltip="Hide the fusion subcomputations in the rendered graph"
                class="full-width"
                >
                Merge Fusion
              </mat-checkbox>
            }
            <div class="actions">
              <button
                mat-flat-button
                extended
                name="submit"
                type="submit"
                color="primary"
                class="search-button"
                [disabled]="!validToPlot()"
                >
                <mat-icon>search</mat-icon> Search Graph
              </button>
            </div>
          </form>
        </div>
        <div class="hlo-download">
          <download-hlo
            [moduleName]="selectedModule"
            [showMetadata]="showMetadata"
            [graphType]="graphType" />
        </div>
      </div>
      <op-details [sessionId]="sessionId" />
      @if (loadingOpProfile) {
        <div class="progress-container-op-details">
          <mat-spinner class="loading-spinner" color="primary" mode="indeterminate" diameter="20" />
          <div class="loading-message">Preparing Op Details ...</div>
        </div>
      }
    </mat-sidenav>
    <mat-sidenav-content>
      <diagnostics-view [diagnostics]="diagnostics" />
      @if (loadingGraph) {
        <div class="progress-container">
          <div class="loading-message">Loading graph...</div>
          <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
          <mat-progress-bar color="primary" mode="indeterminate" aria-label="Loading" />
        </div>
      }
      <div class="hlo-text-view-container">
        <hlo-text-view
          [graphType]="graphType"
          [sessionId]="sessionId"
          [moduleName]="selectedModule"
          [showMetadata]="showMetadata" />
      </div>
      @if (sourceCodeServiceIsAvailable) {
        <mat-expansion-panel class="stack-trace-snippet-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>Source Viewer</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="stack-trace-snippet-container">
              <source-mapper
                [sessionId]="sessionId"
                [programId]="programIdForSourceMapper"
                [opName]="opNameForSourceMapper"
                [opCategory]="opCategoryForSourceMapper"
                [sourceFileAndLineNumber]="sourceFileAndLineNumber"
                [stackTrace]="stackTrace" />
            </div>
          </ng-template>
        </mat-expansion-panel>
      }
      @if (!hasGraphOrLoading() && showDefaultGraphOptions()) {
        <div class="default-graph">
          <div><p>You can select a module and op to draw the graph. </p></div>
          <div>
            <p>To quick start, choose from the chips below to view its graph.</p>
            <mat-chip-listbox multiple aria-label="profile quick options">
              @for (option of defaultGraphOptions; track option) {
                <mat-chip-option [matTooltip]="option.tooltip" (click)="onClickDefaultGraphOption(option)" appearance="hairline-filter">{{ defaultGraphOptionLabel(option) }}</mat-chip-option>
              }
            </mat-chip-listbox>
          </div>
        </div>
      }
      @if (!shouldRenderMeGraph) {
        <div class="graph-container">
            <iframe #iframe id="graph-html"></iframe>
          </div>
        }
      </mat-sidenav-content>
    </mat-sidenav-container>
