<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content class="primary-content">
    <p>
      <span class="key-label">Is training job</span>:
      <span>{{isTraining()}}</span>
    </p>
    @if (profileStartTime()) {
      <p>
        <span class="key-label">Profile start time (local)</span>:
        <span>{{profileStartTime()}}</span>
      </p>
    }
    @if (profileDurationMs()) {
      <p>
        <span class="key-label">Profile duration (ms)</span>:
        <span>{{profileDurationMs()}}</span>
      </p>
    }
    <p>
      <span class="key-label">Number of Hosts used</span>: <span>{{hostCount()}}</span>
    </p>
    <ng-content select="[taskCount]" />
    <p>
      <span class="key-label">Device type</span>: <span>{{deviceType()}}</span>
    </p>
    <p>
      <span class="key-label">Number of device cores</span>: <span>{{deviceCoreCount()}}</span>
    </p>
    <ng-content select="[jobInformation]" />
    <p><!-- empty paragraph for bottom margin --></p>
  </mat-card-content>
</mat-card>

