/** CSS for a recommendation result view component. */

@import 'frontend/app/styles/common';

:host {
  @include border-bottom-gray;
  @include border-right-gray;
  flex-grow: 1;
}

mat-card {
  @include overview-card;
  @include overview-card-height;
}

mat-card-title {
  @include overview-card-title;
}

b {
  font-weight: 500;
}

ul {
  @include ul-flat;
}

.bottleneck-statement {
  margin: 10px 0;
}

.bottleneck-tips {
  margin: 16px 0;
}

.documentation-tips {
  margin: 16px 0;
}
