<mat-toolbar class="profiler-toolbar">
  <button
      mat-icon-button
      aria-label="Menu icon"
      i18n-aria-label="A button to open the side menu."
      class="sidenav-toggle-button"
      (click)="isSideNavOpen = !isSideNavOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Profiler</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<!-- toolbar has a height of 64px, adding inline style to overwrite the fullscreen styles -->
<mat-sidenav-container fullscreen style="top:64px;">
  <mat-sidenav mode="side" [opened]="isSideNavOpen">
    <sidenav></sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="progress-container" *ngIf="loading">
      <div class="loading-message">{{loadingMessage}}</div>
      <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <div [className]="loading ? 'hidden-content' : 'full-height'">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
