<mat-accordion class="stack-trace-snippet" multi="true">
  @if (sourceCodeSnippetAddresses() && sourceCodeSnippetAddresses().length > 0) {
    <!-- We assume that the top of the stack is the first element in the list. -->
    @for (addr of sourceCodeSnippetAddresses(); track trackByIndex($index, addr); let isFirst = $first) {
      <stack-frame-snippet
        [sourceCodeSnippetAddress]="addr"
        [topOfStack]="isFirst"
        [usingSourceFileAndLineNumber]="usingSourceFileAndLineNumber()"
        [srcPathPrefix]="srcPathPrefix()" />
    }
  } @else {
    <message
      title="Stack Trace Not Found"
      content="Please select an HLO operation with stacktrace." />
  }

</mat-accordion>

