<div class="header">
  <span class="time-header" matTooltip="Total percentage of the time spent by all the operations in that xla module or category.">Time %</span>
  <span class="wasted-header" matTooltip="Wasted time is defined by RuntimeFraction *(1 - max(FlopsUtilization, MemoryBandwidthUtilization)).">Wasted %</span>
  <span class="hbmFraction-header" matTooltip="HBM fraction is the raw hbm bytes accessed percentage of the xla module or category.">HBM %</span>
  <span class="name-header" matTooltip="Name of the xla module, op category, or ops.">Name</span>
  <span class="provenance-header" matTooltip="TensorFlow op name associated with the HLO operation.">TensorFlow Op</span>
  <span class="utilization-header" matTooltip="FLOPS bandwidth utilization normalized to the xla module or category scale.">FLOPS</span>
  <span class="flame-color-circle-header"></span>
  <span class="hbmUtilization-header" matTooltip="HBM memory bandwidth utilization.">HBM</span>
  <span class="hbm-flame-color-circle-header"></span>
</div>

<op-table-entry
  [level]="0"
  [node]="rootNode"
  [rootNode]="rootNode"
  [selectedNode]="selectedNode"
  [byWasted]="byWasted"
  [showP90]="showP90"
  [childrenCount]="childrenCount"
  (hover)="updateActive($event)"
  (selected)="updateSelected($event)">
</op-table-entry>
