<div [hidden]="!hasHostOpTables()">
  <div class="mat-headline">Host-vs-TPU step analysis</div>
  <table>
    <tr>
      <td>
        Op:
        <mat-form-field>
          <mat-select (selectionChange)="updateHostOpSelection($event.value)">
            @for (opChoice of allHostOpChoices; track opChoice) {
              <mat-option [value]="opChoice">
                {{ opChoice }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        Hostname:
        <mat-form-field>
          <mat-select (selectionChange)="updateHostnameSelection($event.value)">
            @for (hostnameChoice of allHostnameChoices; track hostnameChoice) {
              <mat-option [value]="hostnameChoice">
                {{ hostnameChoice }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        Core:
        <mat-form-field>
          <mat-select (selectionChange)="updateCoreSelection($event.value)">
            @for (coreChoice of allCoreChoices; track coreChoice) {
              <mat-option [value]="coreChoice">
                {{ coreChoice }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <chart chartType="ScatterChart" [dataInfo]="dataInfo" [hidden]="!showChart" />
  <mat-divider />
</div>
