<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    @if (hasBaseline()) {
      <div class="legend-container">
        <span class="legend-text">Legend: (vs <span class="baseline-data">baseline</span>, <span>change %</span>)</span>
      </div>
    }
    <ng-template *ngTemplateOutlet="summaryInfo; context: {$implicit: summaryInfoCombined()}">
    </ng-template>

    <div class="item-container">
      <b [style.color]="remarkColor()">{{remarkText()}}</b>
    </div>
    <p><!-- empty paragraph for bottom margin --></p>
  </mat-card-content>
</mat-card>

<ng-template #summaryInfo let-infoArray>
  @for (info of infoArray; track info) {
    <div>
      <div class="item-container">
        <table>
          <!-- Top level metrics row -->
          <tr>
            <td>
              <ng-template *ngTemplateOutlet="titleTooltipDescription; context: {$implicit: info}" />
            </td>
            @if (info.value) {
              <td class="item-value">
                <div [style.color]="info.valueColor">
                  {{info.value}}
                  @if (info.baselineValue) {
                    <span class="baseline-value">
                      (vs <span class="baseline-data">{{info.baselineValue}}</span>
                      @if (info.diffValue) {
                        <span [style.color]="info.diffColor">
                          , {{info.diffValue}}
                        </span>
                      })
                      </span>
                    }
                  </div>
                </td>
              }
            </tr>
            <!-- Nested child metrics rows -->
            @for (cInfo of info.childrenInfo; track cInfo) {
              <tr>
                <td><ng-template *ngTemplateOutlet="titleTooltipDescription; context: {$implicit: cInfo}" /></td>
                @if (cInfo.value) {
                  <td class="child-item-value primary-content">
                    <div [style.color]="cInfo.valueColor">
                      {{cInfo.value}}
                      @if (cInfo.baselineValue) {
                        <span class="baseline-value">
                          (vs <span class="baseline-data">{{cInfo.baselineValue}}</span>
                          @if (cInfo.diffValue) {
                            <span [style.color]="cInfo.diffColor">
                              , {{cInfo.diffValue}}
                            </span>
                            })
                          </span>
                        }
                      </div>
                    </td>
                  }
                </tr>
              }
              @for (value of info.propertyValues; track value) {
                <tr>
                  @if (value) {
                    <td class="primary-content" [innerHtml]="value"></td>
                  }
                </tr>
              }
            </table>
          </div>
        </div>
      }
    </ng-template>

    <ng-template #titleTooltipDescription let-info>
      @if (info.level === 1) {
        <b>{{info.title}}</b>
      }
      @if (info.level !== 1) {
        <span class="primary-content">{{info.title}}</span>
      }
      @if (info.tooltip) {
        <span class="tooltip-icon-container">
          <mat-icon
            class="tooltip-icon"
            [matTooltip]="info.tooltip"
            matTooltipPosition="above">
            info
          </mat-icon>
        </span>
      }
      @for (description of info.descriptions; track description) {
        <div
          [ngClass]="{'description': true}">
          <span [innerHtml]="description"></span>
        </div>
      }
    </ng-template>
